#new_adult_table, #new_child_table{
    text-align: left;
}
.generic_input{
    padding: .5em;
    display: flex;
}
.index-container{
    display: flex;
    flex-wrap: nowrap;
}
.index-cat{
    flex-grow: 1;
    text-align: center;
    margin: 0 2em;
}
.index-header{
    font-weight: 700;
    font-size: 2em;
}
.field_value_input{
    text-align: -moz-center;
    text-align: -webkit-center;
}
.index-ul li a{
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 700;
}
.index-ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.index-ul li{
    padding: .75em 0;
    background-color: #52585A;
    margin: .5em;
    border-radius: 5em;

}
.error{
    color: #a6192e;
}
form{
    margin-bottom: 0em;
}
#main-content{
    padding: 0em 1em 1em 1em;
}
/* Index */
body{
    margin: 0;
    font-family: sans-serif;
}
h1{
    background-color: #a6192e;
    padding: 1em;
    position: relative;
    overflow: hidden;
}
th{
    padding: .25em .5em;
}
td{
    padding: .25em .5em;
}
#home{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
#logoutForm{    
    float: right;
}
#logout{
    background-color: #ffffff;
    border: solid 0px #000000;
    padding: 1em;
    font-weight: 700;
}
#logout:hover, #home:hover{
    cursor: pointer
}
.searchField{
    border: 0;
    color: #ffffff;
    font-size: 1.5em;
    background-color: #007096;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}
.search-li{
    background-color: #007096  !important;
}
/* }
#SearchPeopleButton{
    background-color: #a6192e;
    border: 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;

} */