.error{
    color: #a6192e;
}
#content{
    padding: 2em 5em;
    /* background-color: #54585A; */
}
.login{
    background: #a6192e;
}
.select2-container {
    width: 100% !important;
}

table tbody tr td div .col-form-label{
    display: none;
}
.selection span{
    height: calc(2.25rem + 2px) !important;
}
.select2-selection, .select2-selection--single{
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
}
.autoMargin{
    margin: auto;
    /* margin-top: auto;
    margin-bottom: auto; */
}
.whiteText{
    color: #ffffff;
}
.nav-link, .navbar-brand{
    color: white !important;
    font-size: 1.2em !important;
    font-weight: 600 !important;
}
nav{
    background-color: #a6192e !important;
}
#search_submit{
    margin-right: .5em;
}
#search_box{
   background-color: #fff !important;
}
.table{
    margin-bottom: 0 !important;
}
.noTopBorder th, .noTopBorder td{
    border-top: 0 !important;
}
.noBottomMargin{
    margin-bottom: 0 !important;
}
.card-header{
    font-weight: 600 !important;
    font-size: 1.25em !important;
}
.table > tbody > tr > td {
    vertical-align: middle;
}