asgiref==3.2.10
Django>=3.1.2
django-appconf>=1.0.2
django-crispy-forms>=1.9.2
django-filter>=2.4.0
django-floppyforms>=1.9.0
django-select2>=7.4.2
djangorestframework>=3.12.1
djangorestframework-filters>=0.11.1
psycopg2-binary>=2.8.6
python-dateutil>=2.8.1
pytz>=2020.1
six>=1.15.0
sqlparse>=0.4.1
whitenoise