lingdb/lingdb/settings/settingsSensitive.py
inst.txt
*.pyc
lingdb/.vscode/
.vscode/settings.json
lingdb/dasd
lingdb/ParticipantDB/static/ParticipantDB/fontawesome-free-5.8.1-web/webfonts/fa-solid-900.ttf
