{% load crispy_forms_tags %}

<div class="card mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h3 class="mb-0">
                    Child # {{ child.id }}
                </h3>
            </div>
            <div class="col-md-4">
                <div class="btn-group float-right"> 
                    <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target=".sensitive{{child.id}}" aria-expanded="false" aria-controls="personalTable">
                        Expand/Collapse
                    </button>
                    <a href="{% url 'child_detail' child_id=child.id %}" class="btn  btn-outline-light" role="button">Open</a>
                    <a href="{% url 'update_child' child_id=child.id %}" class="btn btn-outline-light" role="button">Update</a>
                    <a href="{% url 'delete_child' child_id=child.id %}" class="btn btn-danger border-light" role="button">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-0">
                    <div class="card-header">
                        Personal Info
                    </div>
                    <div>
                        <div id="personalTable" class="table-responsive">
                            <table class="table table-hover">
                               <tr class="noTopBorder">
                                    <th>Name:</td>
                                    <td>
                                        {{child.given_name}} 
                                        {% if child.preferred_name %}
                                            ({{child.preferred_name}})
                                        {% endif %}
                                        {{child.surname}}
                                    </td>
                                </tr> 
                                <tr>
                                    <th>Birth Date:</td>
                                    <td>{{child.birth_date}}</td>
                                </tr>
                                <tr>
                                    <th>Has Health/Personal Notes:</td>
                                    <td>
                                        {% if child.health_notes or child.personal_notes %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="collapse sensitive{{child.id}}">
                                    <th>Gender:</td>
                                    <td>{{child.gender}}</td>
                                </tr>
                                {% if child.gestation_length_weeks %}
                                <tr class="collapse sensitive{{child.id}}">
                                    <th>Gestation Length:</td>
                                    <td>{{child.gestation_length_weeks}}</td>
                                </tr>
                                {% endif %}
                                {% if child.was_full_term %}
                                <tr class="collapse sensitive{{child.id}}">
                                    <th>Was Full Term:</td>
                                    <td>{{child.was_full_term}}</td>
                                </tr>
                                {% endif %}
                                {% if child.birth_height %}
                                <tr class="collapse sensitive{{child.id}}">
                                    <th>Birth Height:</td>
                                    <td>{{child.birth_height}}</td>
                                </tr>
                                {% endif %}
                                {% if child.birth_weight %}
                                <tr class="collapse sensitive{{child.id}}">
                                    <th>Birth Weight:</td>
                                    <td>{{child.birth_weight}}</td>
                                </tr>
                                {% endif %}
                                {% if child.personal_notes %}
                                <tr class="collapse sensitive{{child.id}}">
                                    <th>Personal Notes:</td>
                                    <td>{{child.personal_notes}}</td>
                                </tr>
                                {% endif %}
                                {% if child.hx_repeated_ear_infection %}
                                <tr class="collapse sensitive{{child.id}}">
                                    <th>HX Repeated Ear Infection:</td>
                                    <td>{{child.hx_repeated_ear_infection}}</td>
                                </tr>
                                {% endif %}
                                <tr class="collapse sensitive{{child.id}}">
                                    <th>Hereditary Audio Problems:</td>
                                    <td>{{child.hereditary_audio_problems}}</td>
                                </tr>
                                <tr class="collapse sensitive{{child.id}}">
                                    <th>Hereditary Language Pathologies:</td>
                                    <td>{{child.hereditary_language_pathologies}}</td>
                                </tr>
                                {% if child.health_notes %}
                                <tr class="collapse sensitive{{child.id}}">
                                    <th>Health Notes:</td>
                                    <td>{{child.health_notes}}</td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                {% if languages_exposed_to.count > 0%}
                    <div class="card mb-0">
                        <div class="card-header">
                            Language Exposure
                        </div>
                        <div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="noTopBorder centeredCell">
                                            <th>Language</th>
                                            <th>Exposure Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for language_exposed_to in languages_exposed_to %}
                                            <tr class="centeredCell">
                                                <td>{{language_exposed_to.lang}}</td>
                                                <td>{{language_exposed_to.percentage_exposure}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>