{% extends "ParticipantDB/nav.html" %}
{% block extraHead %}
    {% load static %}
    {{ childFilter.form.media.css }}
    <script src="{% static 'ParticipantDB/js/query.js' %}"></script>
    <script src="{% static 'ParticipantDB/js/date_warning.js' %}"></script>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs mb-4">
                <li class="nav-item"><a class="nav-link" href="{% url 'adult_query' %}">Adult</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Child</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Family</a></li>
            </ul>
        </div>
    </div>
    <h1>
        Child Query
    </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8 mb-0">
                            Query
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group float-right"> 
                                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target=".query-form" aria-expanded="true" aria-controls="personalTable">
                                Expand/Collapse
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body query-form collapse show"> 
                    <form method="get" action="">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h4>Personal Info</h4>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 form-group">
                                {{ childFilter.form.given_name|as_crispy_field }}
                            </div>
                            <div class="col-md-3 form-group">
                                {{ childFilter.form.preferred_name|as_crispy_field }}
                            </div>
                            <div class="col-md-3 form-group">
                                {{ childFilter.form.surname|as_crispy_field }}
                            </div>
                            <div class="col-md-3 form-group">
                                {{ childFilter.form.gender|as_crispy_field}}
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="col-md-3 form-group">
                                {{childFilter.form.has_family|as_crispy_field}}
                            </div>
                            <div class="col-md-3 form-group">
                                {{childFilter.form.was_full_term|as_crispy_field}}
                            </div>
                            <div class="col-md-3 form-group">
                                {{childFilter.form.hereditary_audio_problems|as_crispy_field}}
                            </div>
                            <div class="col-md-3 form-group">
                                {{childFilter.form.hereditary_language_pathologies|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 form-group">
                                {{childFilter.form.hx_repeated_ear_infection|as_crispy_field}}
                            </div>
                        
                            <div class="col-md-4 form-group">
                                {{childFilter.form.health_notes_inc|as_crispy_field}}
                            </div>
                            <div class="col-md-4 form-group">
                                {{childFilter.form.personal_notes_inc|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-group removeDash">
                                {{childFilter.form.birth_date|as_crispy_field}}
                            </div>
                            <div class="col-md-6 form-group removeDash">
                                {{childFilter.form.gestation_length_weeks|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-md-6 form-group removeDash">
                                {{childFilter.form.birth_weight|as_crispy_field}}
                            </div>
                            <div class="col-md-6 form-group removeDash">
                                {{childFilter.form.birth_height|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <h4>Languages</h4>
                                    </div>
                                </div>
                            <div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mb-4">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        {{exposureFilter.form.lang|as_crispy_field}}
                                    </div>
                                    <div class="col-md-6 removeDash">
                                        {{exposureFilter.form.percentage_exposure|as_crispy_field}}
                                    </div>
                                
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <h4>Assessment Participation</h4>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        {{assessmentRunFilter.form.assessment|as_crispy_field}}
                                    </div>
                                    <div class="col-md-6">
                                        {{assessmentRunFilter.form.assessment_run_assessor|as_crispy_field}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 removeDash">
                                        {{assessmentRunFilter.form.assessment_run_date|as_crispy_field}}
                                    </div>
                                    <div class="col-md-6">
                                        {{assessmentRunFilter.form.assessment_run_notes|as_crispy_field}}
                                    </div>
                                </div>
                            </div><div class="col-lg-6 mb-4">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <h4>Experiment Section Participation</h4>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        {{experimentSectionRunFilter.form.experiment_section|as_crispy_field}}
                                    </div>
                                    <div class="col-md-6">
                                        {{experimentSectionRunFilter.form.experiment_section_run_assessor|as_crispy_field}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 removeDash">
                                        {{experimentSectionRunFilter.form.experiment_section_run_date|as_crispy_field}}
                                    </div>
                                    <div class="col-md-6">
                                        {{experimentSectionRunFilter.form.experiment_section_run_notes|as_crispy_field}}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outline-primary">Query</button>
                                <a href="{% url 'child_query' %}" class="btn btn-outline-primary" role="button">Clear</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% comment %} </div> {% endcomment %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header">
                    Results
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="noTopBorder centeredCell">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Birth Date</th>
                                <th>Gender</th>
                                <th>Notes</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if combined.count %}
                                {% for child in combined %}
                                    <tr class="centeredCell">
                                        <td>
                                            {{child.id}}
                                        </td>
                                        <td>
                                            {{child.given_name}} 
                                            {% if child.preferred_name %}
                                                ({{child.preferred_name}})
                                            {% endif %}
                                            {{child.surname}}
                                        </td>
                                        <td>
                                            {{child.birth_date}}
                                        </td>
                                        <td>
                                            {{child.gender}}
                                        </td>
                                        <td>
                                            {% if child.health_notes or child.personal_notes %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url 'child_detail' child_id=child.id %}" class="btn btn-outline-primary" role="button">Open</a>
                                                <a href="{% url 'update_child' child_id=child.id %}" class="btn btn-outline-primary" role="button">Update</a>
                                                <a href="{% url 'delete_child' child_id=child.id %}" class="btn btn-outline-danger" role="button">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else%}
                                <tr class="centeredCell">
                                    <td colspan='8'>
                                        Sorry, no results.
                                    </tr>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  
    {{ childFilter.form.media.js }}  
{% endblock %}