{% extends "ParticipantDB/nav.html" %}
{% block extraHead %}
    {{ child_form.media.css}}
    {{ exposure_forms.media.css }}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>New Child</h1>
    <form method="post" class="noBottomMargin">
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Personal Info
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ child_form.id|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{ child_form.given_name|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ child_form.preferred_name|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{ child_form.surname|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ child_form.gender|as_crispy_field}}
                                
                                <datalist id="auto-genders">
                                    <option value="male">
                                    <option value="female">
                                </datalist>
                            </div>
                            <div class="col-md-6">
                                {{ child_form.was_full_term|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ child_form.birth_date|as_crispy_field}}
                            </div>
                            <div class="col-md-4">
                                {{ child_form.birth_weight|as_crispy_field}}
                            </div>
                            <div class="col-md-4">
                                {{ child_form.birth_height|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row vertical-align mb-2 mt-2">
                            <div class="col-md-6">
                                {{ child_form.hereditary_audio_problems|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{ child_form.hereditary_language_pathologies|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                        
                            <div class="col-lg-4">
                                {{ child_form.hx_repeated_ear_infection|as_crispy_field}}
                            </div>
                            <div class="col-lg-4">
                                {{ child_form.personal_notes|as_crispy_field}}
                            </div>
                            <div class="col-lg-4">
                                {{ child_form.health_notes|as_crispy_field}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% comment %} </div>
        <div class="row"> {% endcomment %}
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Languages Exposed To
                    </div>        
                    {{ exposure_forms.management_form|crispy }}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="noTopBorder centeredCell">
                                    <th>Language*</th>
                                    <th>Exposure Percentage*</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exposure_form in exposure_forms %}
                                    <tr>            
                                        <td>{{exposure_form.lang|as_crispy_field}}</td>  
                                        <td>{{exposure_form.percentage_exposure|as_crispy_field}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="btn-group"> 
            <input type="submit" class="btn btn-outline-primary" name="save" value="Save">
            <input type="submit" class="btn btn-outline-primary" name="save_add_another" value="Save & Add Another">
        </div>
    </form>
    {{ child_form.media.js}}
    {{ exposure_forms.media.js }}
{% endblock %}