{% extends "ParticipantDB/nav.html" %}
{% load static %}
{% block extraHead %}
    {{ parent_forms.media.css }}
    {{ child_forms.media.css}}
{% endblock %}

{% block content %}
    <h2>New Family</h2>
    <form method="post">
        {% csrf_token %}
        {{family_form.as_table}}

        <h3>Parent(s)</h3>
        {{ parent_forms.management_form}}
        {% if parent_forms.errors %}
            <div class="error">
                {{ parent_forms.errors }}
            </div>
        {% endif %}
        {% if parent_forms.non_form_errors %}
            <div class="error">
                {{ parent_forms.non_form_errors }}
            </div>
        {% endif %}
        <table>
            <tbody>
                {% for parent_form in parent_forms %}
                    <tr>
                        <td>
                            {{parent_form.parent}}
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Child(ren)</h3>
        {{ child_forms.management_form}}
        {% if child_forms.errors %}
            <div class="error">
                {{ child_forms.errors }}
            </div>
        {% endif %}
        {% if child_forms.non_form_errors %}
            <div class="error">
                {{ child_forms.non_form_errors }}
            </div>
        {% endif %}
        
        <table>
            <tbody>
                {% for child_form in child_forms %}
                    <tr>
                        <td class="field_value">
                            {{child_form.child}}
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" name="save" value="Save">
        <input type="submit" name="save_add_another" value="Save & Add Another">
    </form>

{{ parent_forms.media.js}}

{{ child_forms.media.js}}
{% endblock %}