{% extends "ParticipantDB/nav.html" %}
{% block content %}
    <h2>Update Family # {{family_id}}</h2>
    <form action="{% url 'update_family' family_id %}" method="post">
        {% csrf_token %}
        {{family_form.as_table}}

        <h3>Parent(s)</h3>
        {{ parent_forms.management_form}}
        {% comment %} {% if parent_forms.non_form_errors %}
            <div class="error">
                {{ parent_forms.non_form_errors }}
            </div>
        {% endif %} {% endcomment %}

        <table>
            <thead>
                <tr>
                    <th class="field_name">Adult</th>
                    <th class="field_name">Delete?</th>
                </tr>
            </thead>
            <tbody>
                    {% for parent_form in parent_forms %}
                    {{parent_form.id}}
                    <tr>
                        <td class="field_value">
                            {{parent_form.parent}}
                        </td>
                        <td class="field_value">
                            {{parent_form.DELETE}}
                        </td>  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <h3>Child(ren)</h3>
        {{ child_forms.management_form}}
        {% comment %} {% if child_forms.non_form_errors %}
            <div class="error">
                {{ child_forms.non_form_errors }}
            </div>
        {% endif %} {% endcomment %}
        
        <table>
            <thead>
                <tr>
                    <th class="field_name">Child</th>
                    <th class="field_value_input">Delete?</th>
                </tr>
            </thead>
            <tbody>
                    {% for child_form in child_forms %}
                    {{child_form.id}}
                    <tr>
                        <td class="field_value">
                            {{child_form.child}}
                        </td>
                        <td class="field_value_input">
                            {{child_form.DELETE}}
                        </td>  
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" value="Save">
    </form>
{% endblock %}