{% extends "ParticipantDB/nav.html" %}
{% load static %}
{% block extraHead %}
    {{ assessment_form.media.css }}
    {{ assessment_field_formset.media.css }}
{% endblock %}


{% load crispy_forms_tags %}
{% block content %}
    <h1>New Assessment</h1>
    <form method="post" class="noBottomMargin">
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Basic Info
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                {{ assessment_form.assessment_name|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {{ assessment_form.lab|as_crispy_field}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Fields
                    </div>
                    <div>
                        {{ assessment_field_formset.management_form|crispy }}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="noTopBorder">
                                        <th>Name*</th>
                                        <th>Type*</th>
                                    </tr>         
                                </thead>
                                <tbody>
                                    {% for assessment_field_form in assessment_field_formset %}
                                        <tr>            
                                            <td>{{assessment_field_form.field_name|as_crispy_field}}</td>  
                                            <td>{{assessment_field_form.type|as_crispy_field}}</td> 
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

        <div class="btn-group"> 
            <input type="submit" class="btn btn-outline-primary" name="save" value="Save">
            <input type="submit" class="btn btn-outline-primary" name="save_add_another" value="Save & Add Another">
        </div>
    </form>
    {{ assessment_form.media.js }}
    {{ assessment_field_formset.media.js }}
{% endblock %}