{% extends "ParticipantDB/nav.html" %}
{% block content %}
    <h2>New Assessment</h2>
    <form method="post">
        {% csrf_token %}
        <h3>Basic Info</h3>
        <table id="new_assessment_table">
            {{assessment_form.as_table}}
        </table>

        <h3>Fields</h3>
        {{ assessment_field_formset.management_form }}
        {% if assessment_field_formset.errors %}
            {{ assessment_field_formset.errors }}
        {% endif %}
        {% if assessment_field_formset.non_form_errors %}
            {{ assessment_field_formset.non_form_errors }}
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th class="field_name">Name</th>
                    <th class="field_name">Type</th>
                </tr>
                
            </thead>
            <tbody>
                {% for assessment_field_form in assessment_field_formset %}
                    <tr>            
                        <td class="field_value">{{assessment_field_form.field_name}}</td>  
                        <td class="field_value">{{assessment_field_form.type}}</td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <input type="submit" name="save" value="Save">
        <input type="submit" name="save_add_another" value="Save & Add Another">
    </form>
{% endblock %}