{% extends "ParticipantDB/nav.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <h1>New Assessment</h1>
    <form method="post">
        {% csrf_token %}
        <h2>Basic Info</h2>
        <div class="row">
            <div class="col-sm-6">
                {{ assessment_form.assessment_name|as_crispy_field}}
            </div>
            <div class="col-sm-6">
                {{ assessment_form.lab|as_crispy_field}}
            </div>
        </div>



        <h2>Fields</h2>
        {{ assessment_field_formset.management_form|crispy }}

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name*</th>
                        <th>Type*</th>
                    </tr>
                    
                </thead>
                <tbody>
                    {% for assessment_field_form in assessment_field_formset %}
                        <tr>            
                            <td>{{assessment_field_form.field_name|as_crispy_field}}</td>  
                            <td>{{assessment_field_form.type|as_crispy_field}}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="btn-group"> 
            <input type="submit" class="btn btn-outline-primary" name="save" value="Save">
            <input type="submit" class="btn btn-outline-primary" name="save_add_another" value="Save & Add Another">
        </div>
    </form>
{% endblock %}