{% extends "ParticipantDB/header.html" %}
{% block content %}
    <h2>
        Adult # {{ adult.id }}
    </h2>
    <div>
        <h3>Personal Info</h3>
        <table>
            <tr>
                <td class="field_name">Given Name:</td>
                <td class="field_value">{{adult.given_name}}</td>
            </tr> 
            {% if adult.preferred_name %}
            <tr>
                    <td class="field_name">Preferred Name:</td>
                    <td class="field_value">{{adult.preferred_name}}</td>
            </tr>    
            {% endif %}
            <tr>
                    <td class="field_name">Surname:</td>
                    <td class="field_value">{{adult.surname}}</td>
            </tr> 
            <tr>
                    <td class="field_name">Birth Date:</td>
                    <td class="field_value">{{adult.birth_date}}</td>
            </tr> 
            <tr>
                    <td class="field_name">Gender:</td>
                    <td class="field_value">{{adult.gender}}</td>
            </tr> 
            {% if adult.sfu_id %}
            <tr>
                    <td class="field_name">SFU ID:</td>
                    <td class="field_value">{{adult.sfu_id}}</td>
            </tr>    
            {% endif %}
            <tr>
                    <td class="field_name">Contact Preference:</td>
                    <td class="field_value">{{adult.get_contact_pref_display}}</td>
            </tr>    
            <tr>
                    <td class="field_name">Preferred Phone Time:</td>
                    <td class="field_value">{{adult.get_pref_phone_time_display}}</td>
            </tr> 
            {% if adult.health_notes %}
            <tr>
                    <td class="field_name">Health Notes:</td>
                    <td class="field_value">{{adult.health_notes}}</td>
            </tr>
            {% endif %}

        </table>
        {% if speaksLanguages.count > 0 %}
            <h3>Languages Spoken</h3>
            <table>
                <thead>
                    <tr>
                        <th class="field_name">Language</th>
                        <th class="field_name">Native</th>
                        <th class="field_name">Dominance</th>
                        <th class="field_name">Age Learning Started</th>
                        <th class="field_name">Age Learning Ended</th>
                    </tr>
                </thead>
                <tbody>
                    {% for speaksLanguage in speaksLanguages %}
                        <tr>
                            <td class="field_value">{{speaksLanguage.lang}}</td>
                            <td class="field_value">{{speaksLanguage.is_native}}</td>
                            <td class="field_value">{{speaksLanguage.nth_most_dominant}}</td>
                            <td class="field_value">{{speaksLanguage.age_learning_started}}</td>
                            <td class="field_value">{{speaksLanguage.age_learning_ended}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if musical_exps.count > 0 %}
            <h3>Musical Experiences</h3>
            <table>
                <thead>
                    <tr>
                        <th class="field_name">Musical Experience</th>
                        <th class="field_name">Dominance</th>
                        <th class="field_name">Age Learning Started</th>
                        <th class="field_name">Age Learning Ended</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for musical_exp in musical_exps %}
                        <tr>
                            <td class="field_value">{{musical_exp.experience}}</td>
                            <td class="field_value">{{musical_exp.nth_most_dominant}}</td>
                            <td class="field_value">{{musical_exp.age_learning_started}}</td>
                            <td class="field_value">{{musical_exp.age_learning_ended}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if assessment_participations.count > 0 %}
            <h3>Assessments</h3>
            <table>
                <thead>
                    <tr>
                        <th class="field_name">Assessment</th>
                        <th class="field_name">Lab</th>
                        <th class="field_name">Assessor</th>
                        <th class="field_name">Date</th>
                        <th class="field_name">Notes</th>
                        <th class="field_name">Results</th>
                        <th class="field_name">Delete</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for participation in assessment_participations %}
                        <tr>
                            <td class="field_value">{{participation.assessment}}</td>
                            <td class="field_value">{{participation.assessment.lab}}</td>
                            <td class="field_value">{{participation.assessor}}</td>
                            <td class="field_value">{{participation.date}}</td>
                            <td class="field_value">{{participation.notes}}</td>                          
                            <td class="field_value">
                            {% for part in all_scores.items %}
                                    {% comment %} {{part}} {% endcomment %}
                                {% if part.0 == participation.id %}
                                    {% for field in part.1%}
                                        {{field.assessment_field.field_name}}: {{field.score}}<br>
                                    {% endfor %}
                                {% endif %}
                            {%endfor%}
                            </td>   
                            <td class="field_value"><a href="{% url 'delete_assessment_run' assessment_run_id=participation.id %}">Delete</a></td>    
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if family %}
            <h3>Family</h3>
            <a href="{% url 'family_detail' family_id=family.id %}">View Family ({{family.id}})
            </a><br>
            {% if parents.count > 1 %}
                <h4>Spouse</h4>
                {% for parent in parents %}
                    {% if parent.parent.id != adult.id %}
                        <a href="{% url 'adult_detail' adult_id=parent.parent.id %}">  
                            {{parent.parent.id}} - {{parent.parent.given_name}} {{parent.parent.surname}}
                        </a><br>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if children.count > 0 %}
                <h4>Child(ren)</h4>
                {% for child in children %}
                    <a href="{% url 'child_detail' child_id=child.child.id %}">  
                        {{child.child.id}} - {{child.child.given_name}} {{child.child.surname}}
                    </a><br>
                {% endfor %}
            {% endif%}
        {% endif %}

        <h3>Manage</h3>
        <a href="{% url 'delete_adult' adult_id=adult.id %}">Delete {{adult}}</a><br>
        <a href="{% url 'update_adult' adult_id=adult.id %}">Update {{adult}}</a>

        
    </div>
{% endblock %}