{% extends "ParticipantDB/header.html" %}
{% block content %}
    <h2>New Adult</h2>
    
    <form action="{% url 'update_adult' adult_id %}" method="post">
        {% csrf_token %}
        <h3>Personal &amp; Contact Info</h3>
        <table id="new_adult_table">
            {{adult_form.as_table}}
        </table>
        
        
        <h3>Languages Spoken</h3>
        {{ speaks_formset.management_form }}
        {% if speaks_formset.errors %}
            {{ speaks_formset.errors }}
        {% endif %}
        {% if speaks_formset.non_form_errors %}
            {{ speaks_formset.non_form_errors }}
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th class="field_name">Language</th>
                    <th class="field_name">Native?</th>
                    <th class="field_name">Dominance</th>
                    <th class="field_name">Age Learning Started</th>
                    <th class="field_name">Age Learning Ended</th>
                </tr>
                
            </thead>
            <tbody>
                {% for speaks in speaks_formset %}
                    {{speaks.id}}
                    <tr>            
                        <td class="field_value">{{speaks.lang}}</td>  
                        <td class="field_value_input">{{speaks.is_native}}</td>  
                        <td class="field_value">{{speaks.nth_most_dominant}}</td>  
                        <td class="field_value">{{speaks.age_learning_started}}</td>  
                        <td class="field_value">{{speaks.age_learning_ended}}</td>  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <h3>Musical Experience</h3>
        {{ musical_experience_formset.management_form }}
        {% if musical_experience_formset.errors %}
            {{ musical_experience_formset.errors }}
        {% endif %}
        {% if musical_experience.non_form_errors %}
            {{ musical_experience.non_form_errors}}
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th class="field_name">Experience</th>
                    <th class="field_name">Dominance</th>
                    <th class="field_name">Age Learning Started</th>
                    <th class="field_name">Age Learning Ended</th>
                </tr>
                
            </thead>
            <tbody>
                {% for musical_experience in musical_experience_formset %}
                    {{musical_experience.id}}
                    <tr>            
                        <td class="field_value">{{musical_experience.experience}}</td>  
                        <td class="field_value">{{musical_experience.nth_most_dominant}}</td>  
                        <td class="field_value">{{musical_experience.age_learning_started}}</td>  
                        <td class="field_value">{{musical_experience.age_learning_ended}}</td>  
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" value="Save">
    </form>
{% endblock %}