{% extends "ParticipantDB/sidebar.html" %}
{% block content %}
{% if child %}
<h2>
	Child # {{ child.id }}
</h2>
<div>
	<h3>Personal Info</h3>
	<table>
		<tr>
			<td class="field_name">Given Name:</td>
			<td class="field_value">{{child.given_name}}</td>
		</tr>
		{% if child.preferred_name %}
		<tr>
			<td class="field_name">Preferred Name:</td>
			<td class="field_value">{{child.preferred_name}}</td>
		</tr>
		{% endif %}
		<tr>
			<td class="field_name">Surname:</td>
			<td class="field_value">{{child.surname}}</td>
		</tr>
		<tr>
			<td class="field_name">Birth Date:</td>
			<td class="field_value">{{child.birth_date}}</td>
		</tr>
		<tr>
			<td class="field_name">Gender:</td>
			<td class="field_value">{{child.gender}}</td>
		</tr>
		{% if child.gestation_length_weeks %}
		<tr>
			<td class="field_name">Gestation Length:</td>
			<td class="field_value">{{child.gestation_length_weeks}}</td>
		</tr>
		{% endif %}
		{% if child.was_full_term %}
		<tr>
			<td class="field_name">Was Full Term:</td>
			<td class="field_value">{{child.was_full_term}}</td>
		</tr>
		{% endif %}
		{% if child.birth_height %}
		<tr>
			<td class="field_name">Birth Height:</td>
			<td class="field_value">{{child.birth_height}}</td>
		</tr>
		{% endif %}
		{% if child.birth_weight %}
		<tr>
			<td class="field_name">Birth Weight:</td>
			<td class="field_value">{{child.birth_weight}}</td>
		</tr>
		{% endif %}
		{% if child.personal_notes %}
		<tr>
			<td class="field_name">Personal Notes:</td>
			<td class="field_value">{{child.personal_notes}}</td>
		</tr>
		{% endif %}
		{% if child.hx_repeated_ear_infection %}
		<tr>
			<td class="field_name">HX Repeated Ear Infection:</td>
			<td class="field_value">{{child.hx_repeated_ear_infection}}</td>
		</tr>
		{% endif %}
		{% if child.last_ear_infection %}
		<tr>
			<td class="field_name">Last Ear Infection:</td>
			<td class="field_value">{{child.last_ear_infection}}</td>
		</tr>
		{% endif %}
		<tr>
			<td class="field_name">Hereditary Audio Problems:</td>
			<td class="field_value">{{child.hereditary_audio_problems}}</td>
		</tr>
		<tr>
			<td class="field_name">Hereditary Language Pathologies:</td>
			<td class="field_value">{{child.hereditary_language_pathologies}}</td>
		</tr>
		{% if child.health_notes %}
		<tr>
			<td class="field_name">Health Notes:</td>
			<td class="field_value">{{child.health_notes}}</td>
		</tr>
		{% endif %}
	</table>
	{% if languages_exposed_to.count > 0%}
		<h3>Languages Exposed To</h3>
		<table>
			<thead>
				<tr>
					<th class="field_name">Language</th>
					<th class="field_name">Exposure Percentage</th>
				</tr>
			</thead>
			<tbody>
				{% for language_exposed_to in languages_exposed_to %}
					<tr class="field_value">
						<td class="field_value">{{language_exposed_to.lang}}</td>
						<td class="field_value">{{language_exposed_to.percentage_exposure}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if family %}
		<h3>Family</h3>
		<a href="{% url 'family_detail' family_id=family.id %}">View Family ({{family.id}})
		</a><br>
		{% if parents.count > 0 %}
			<h4>Parent(s)</h4>
			{% for parent in parents %}
				<a href="{% url 'adult_detail' adult_id=parent.parent.id %}">  
					{{parent.parent.id}} - {{parent.parent.given_name}} {{parent.parent.surname}}
				</a><br>
			{% endfor %}
		{% endif %}
		{% if children.count > 1 %}}
			<h4>Siblings</h4>
			{% for currChild in children %}
				{% if currChild.child.id != child.id %}
					<a href="{% url 'child_detail' child_id=currChild.child.id %}">  
						{{currChild.child.id}} - {{currChild.child.given_name}} {{currChild.child.surname}}
					</a><br>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endif %}
	
	<h3>Manage</h3>
	<a href="{% url 'delete_child' child_id=child.id %}">Delete {{child.id}}</a>
	<a href="{% url 'update_child'  child_id=child.id %}">Update {{child.id}}</a>
</div>
{% else %}
<h2>Not Available</h2>
{% endif %}
{% endblock %}