{% extends "ParticipantDB/sidebar.html" %}
{% block extraHead %}
    {{ child_form.media.css}}
    {{ exposure_forms.media.css }}
{% endblock %}
{% block content %}
    <h2>Update Child # {{child_id}}</h2>
    <form action="{% url 'update_child' child_id %}" method="post">
        {% csrf_token %}
        <h3>Personal &amp; Info</h3>
        <table id="new_child_table">
            {{child_form.as_table}}
        </table>
        <h3>Languages Exposed To</h3>
        
        {{ exposure_forms.management_form }}
        {% if exposure_forms.errors %}
            {{ exposure_forms.errors }}
        {% endif %}
        {% if exposure_forms.non_form_errors %}
            {{ exposure_forms.non_form_errors }}
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th class="field_name">Language</th>
                    <th class="field_name">Exposure Percentage</th>
                    <th class="field name">Delete?</th>
                </tr>
                
            </thead>
            <tbody>
                {% for exposure_form in exposure_forms %}
                    {{exposure_form.id}}
                    <tr>            
                        <td class="field_value">{{exposure_form.lang}}</td>  
                        <td class="field_value_input">{{exposure_form.percentage_exposure}}</td>
                        <td class="field_value">{{exposure_form.DELETE}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" value="Save">
    </form>
    {{ child_form.media.js}}
    {{ exposure_forms.media.js }}
{% endblock %}