{% extends "ParticipantDB/nav.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-dark mb-4">
                <div class="card-header">
                    People
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="align-middle">
                            Adults
                        </span>
                        <div class="float-right align-middle btn-group">
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'add_adult' %}">
                                Add
                            </a>
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'adult_query' %}">
                                Query
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="align-middle">
                            Children
                        </span>
                        <div class="float-right align-middle btn-group">
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'add_child' %}">
                                Add
                            </a>
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'child_query' %}">
                                Query
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="align-middle">
                            Families
                        </span>
                        <div class="float-right align-middle btn-group">
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'add_family' %}">
                                Add
                            </a>
                            <a class="btn btn-sm btn-outline-dark" href="#">
                                Query
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">
                    Participation
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="align-middle">
                            Experiment Section Run
                        </span>
                        <span class="float-right align-middle">
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'choose_experiment_section' %}">Add
                            </a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="align-middle">
                            Assessment Run
                        </span>
                        <span class="float-right align-middle">
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'choose_assessment' %}">Add
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">
                    Resources
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="align-middle">
                            How To Guide
                        </span>
                        <span class="float-right align-middle">
                            <a class="btn btn-sm btn-outline-dark" href="#">Get
                            </a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="align-middle">
                            Experiments
                        </span>
                        <div class="float-right align-middle btn-group">
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'add_experiment' %}">Add
                            </a>
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'experiment_list' %}">List
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="align-middle">
                            Assessments
                        </span>
                        <div class="float-right align-middle btn-group">
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'add_assessment' %}">Add
                            </a>
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'assessment_list' %}">List
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="align-middle">
                            Languages
                        </span>
                        <span class="float-right align-middle">
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'add_language' %}">Add
                            </a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="align-middle">
                            Musical Skills
                        </span>
                        <span class="float-right align-middle">
                            <a class="btn btn-sm btn-outline-dark" href="{% url 'add_musical_skill' %}">Add
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock  %}