<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'ParticipantDB/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'ParticipantDB/js/jquery-3.3.1.js' %}"></script>
    {% block extraHead %}
    {% endblock %}
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'ParticipantDB/sfu-logo.png' %}" height="30" class="d-inline-block" alt="SFU">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown "> 
                    <a class="nav-link dropdown-toggle" href="#" id="peopleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        People
                    </a>
                    <div class="dropdown-menu" aria-labelledby="peopleDropdown">
                        <a class="dropdown-item" href="{% url 'adult_query' %}">Query</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'add_adult' %}">Add Adult</a>
                        <a class="dropdown-item" href="{% url 'add_child' %}">Add Child</a>
                        <a class="dropdown-item" href="{% url 'add_family' %}">Add Family</a>
                    </div>
                </li>
                <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="participationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Participation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="participationDropdown">
                        <a class="dropdown-item" href="#">Query</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'choose_experiment_section' %}">Add Experiment Run</a>
                        <a class="dropdown-item" href="{% url 'choose_assessment' %}">Add Assessment Run</a>
                    </div>
                </li>
                <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="resourcesDropdown">
                        <a class="dropdown-item" href="{% url 'experiment_list' %}">Experiment List</a>
                        <a class="dropdown-item" href="{% url 'assessment_list' %}">Assessment List</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'add_experiment' %}">Add Experiment</a>
                        <a class="dropdown-item" href="{% url 'add_assessment' %}">Add Assessment</a>
                        <a class="dropdown-item" href="{% url 'add_language' %}">Add Language</a>
                        <a class="dropdown-item" href="{% url 'add_musical_skill' %}">Add Musical Skill</a>
                    </div>
                </li>
            </ul>
            {% comment %} <form class="my-2 my-lg-0 form-inline" id="searchPeople" action="{% url 'watson:search' %}" accept-charset="utf-8">
                <div class="input-group">
                    <input id="search_box" name="q" class="transparentInput form-control" type="text" placeholder="Open" size=10>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-outline-light my-2 my-sm-0" id="search_submit" value="Search">
                    </div>
                </div>
            </form> {% endcomment %}
            <form class="my-2 my-lg-0 form-inline" type="get" id="searchPeople" action="/search" accept-charset="utf-8">
                <div class="input-group">
                    <input id="search_box" name="search_box" class="transparentInput form-control" type="text" placeholder="Open" size=10>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-outline-light" id="search_submit" value="Open">
                    </div>
                </div>
            </form>
            <form class="my-2 my-lg-0 form-inline">
                {% if request.user.is_staff %}
                    <div class="btn-group">
                        <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'admin:index' %}">
                            Admin
                        </a>
                        <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'logout' %}">
                            Log Out
                        </a>
                    </div>
                {% else %}
                    <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'logout' %}">
                        Log Out
                    </a>
                {% endif %}
            </form>
        </div>
    </nav>
    <div id="content">
        {% if messages %}
            {% for message in messages %}
                <span>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
                        <div class="alert alert-info" role="alert">
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <div class="alert alert-info" role="alert">
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        <div class="alert alert-warning" role="alert">
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                    {% endif%}
                    {{ message }}
                    </div>
                </span>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>