{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ParticipantDB/style.css' %}">

<div id="sidebar" class="column">
    <a href="/" id="logo-link">
        <img src="{% static 'ParticipantDB/sfu-logo.png' %}" alt="SFU Department of Linguistics Participant Database" id="logo"><br>
        Department of<br>Linguistics
    </a><br>

    <form type="get" id="searchPeople" action="/search" accept-charset="utf-8">
        <input class="searchField" id="search_box" name="search_box" type="text" placeholder="⌕ Search" size=15>
        <input type="submit" id="search_submit" value="Open" hidden>
    </form>


    <span class="sidebar-category">People</span>
    <a href="/people/query" class="sidebar-link">
        <span>? Query</span>
    </a>
    <a href="/adult/add" class="sidebar-link">
        <span>+ Adult</span>
    </a>
    <a href="/child/add" class="sidebar-link">
        <span>+ Child</span>
    </a>
    <a href="/family/add" class="sidebar-link">
        <span>+ Family</span>
    </a>


    <span class="sidebar-category">Participation</span>
    <a href="/participation/query" class="sidebar-link">
        <span>? Query</span>
    </a>
    <a href="/experiment_section_run/add" class="sidebar-link">
        <span>+ Experiment Run</span>
    </a>
    <a href="/assessment_run/add" class="sidebar-link">
        <span>+ Assessment Run</span>
    </a>

    <span class="sidebar-category">Lab</span>
    <a href="/experiment/add" class="sidebar-link">
        <span>+ Experiment</span>
    </a>
    <a href="/assessment/add" class="sidebar-link">
        <span>+ Assessment</span>
    </a>

    <span class="sidebar-category">Skills</span>
    <a href="/musical_skill/add" class="sidebar-link">
        <span>+ Music</span>
    </a>
    <a href="/language/add" class="sidebar-link">
        <span>+ Language</span>
    </a>

    <span class="sidebar-category">Account</span>
    <a href="/accounts/logout/?logout=Log+Out" class="sidebar-link">
        <span>← Logout</span>
    </a>
    {% if request.user.is_staff %}
        <a href="/admin" class="sidebar-link">
            <span>→ Admin</span>
        </a>
    {% endif %}
</div>
<div id="main-box" class="column">
{% block content %}
{% endblock %}
</div>