.error{
    color: #a6192e;
}
#content{
    padding: 2em 5em;
}
.login{
    background: #a6192e;
}
.select2-container {
    width: 100% !important;
}

table tbody tr td div .col-form-label{
    display: none;
}
.select2-selection, .select2-selection--single{
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
}
.autoMargin{
    margin: auto;
}
.whiteText{
    color: #ffffff;
}
.main-nav-link , .navbar-brand{
    color: white !important;
    font-size: 1.2em !important;
    font-weight: 600 !important;
}
nav{
    background-color: #a6192e !important;
}
#search_submit{
    margin-right: .5em;
}
#search_box{
   background-color: #fff !important;
}
.table{
    margin-bottom: 0 !important;
}
.noTopBorder th, .noTopBorder td{
    border-top: 0 !important;
    
}
.noBottomMargin{
    margin-bottom: 0 !important;
}
.card-header{
    font-weight: 600 !important;
    font-size: 1.25em !important;
    color: #ffffff !important;
    background: #343a40 !important;
    border-color:#343a40;
}
.table > tbody > tr > td, .table > tbody > tr > th {
    vertical-align: middle;
}
.form-group{
    margin-bottom: 0 !important;
}
.vertical-align{
    align-items: center;
}
.vert-center{
    vertical-align: middle !important;
}
.centered-checkbox{
    position: inherit !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.centered-checkbox-child{
    text-align: center !important;
    margin-top: 0 !important;
}
.no-label > div > div > label > input > text{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.centeredCell th, .centeredCell td{
    text-align: center !important;
}
.no-lr{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.card{
    border-color: #343a40;
}
.list-group-item{
    border-color: #343a40;
}
td, th{
    border-color: #343a40 !important;
}
th{
    border-bottom-width: 1px !important;
}
.color-header{
    color: #ffffff !important;    
    background: #343a40 !important;
}
.dropdown-item:hover, .dropdown-item:focus{
    background-color: #343a40 !important;
    color: #ffffff;
}