<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'ParticipantDB/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="{% static 'ParticipantDB/js/jquery-3.3.1.js' %}"></script>
</head>
<body class="login">
  {% load crispy_forms_tags %}
  <div class="row h-100">
   <div class="autoMargin mx-auto text-center">
      <img src="{% static 'ParticipantDB/sfu-logo.png' %}" alt="SFU Department of Linguistics Participant Database" class="img-fluid">
      <h3 class="whiteText">ParticipantDB</h3><br>

      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h4>Logged Out</h4>  
          </li>
          <li class="list-group-item">
            <a href="{% url 'login'%}">Login</a>
          </li>
    </div>
  </div>
<body>