<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'ParticipantDB/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ParticipantDB/css/bootstrap.min.css' %}">
  <script src="{% static 'ParticipantDB/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ParticipantDB/js/jquery-3.3.1.js' %}"></script>
  
  {% block extraHead %}
  {% endblock %}
</head>
{% block content %}
{% endblock %}
</html>