{% extends "ParticipantDB/nav.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if canAccess%}
        <div class="row">
            <div class="col-md-8">
                <h1>
                    {{experiment_section.experiment_section_name}}
                </h1>
            </div>
            <div class="col-md-4 mb-4">
                <div class="btn-group float-right"> 
                    <a href="{% url 'update_experiment' experiment_name=experiment.experiment_name %}" class="btn btn-outline-primary" role="button">Update Experiment</a>
                    <a href="{% url 'delete_experiment_section' experiment_name=experiment.experiment_name experiment_section_name=experiment_section.experiment_section_name %}" class="btn btn-outline-danger" role="button">Delete Section</a>
                    {% comment %} <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#sensitive" aria-expanded="false" aria-controls="personalTable">
                        Show Sensitive
                </button> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">
                        Basic Info
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                                <tr class="noTopBorder">
                                    <th>Lab</th>
                                    <td>{{experiment.lab}}</td>
                                </tr>
                                <tr>
                                    <th>Experiment</th>
                                    <td><a href="{% url 'experiment_detail' experiment_name=experiment.experiment_name %}" class="btn btn-outline-primary" role="button">{{ experiment.experiment_name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        Fields
                    </div>
                    {% if experiment_section_fields.count > 0 %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="noTopBorder centeredCell">
                                        <th>Name</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for experiment_section_field in experiment_section_fields %}
                                        <tr class="centeredCell">
                                            <td>{{experiment_section_field.field_name}}</td>
                                            <td>{{experiment_section_field.type}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">
                        Runs
                    </div>
                    {% if experiment_section_runs.count > 0%}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="noTopBorder centeredCell">
                                        <th>Participant</th>
                                        <th>Date</th>
                                        <th>Notes</th>
                                        <th>Assessor</th>
                                        <th>Results</th>
                                        <th>Actions</th>
                                        {% comment %} <th>Update</th>
                                        <th>Delete</th> {% endcomment %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for run in experiment_section_runs %}
                                        <tr class="centeredCell">
                                            <td>
                                                {% if run.participantAdult%}

                                                    <a href="{% url 'adult_detail' adult_id=run.participantAdult.id %}" class="noBottomMargin btn btn-outline-primary mb-1" role="button">  

                                                    {{run.participantAdult}}
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'child_detail' child_id=run.participantChild.id %}" class="btn btn-outline-primary mb-1" role="button">  
                                                    {{run.participantChild}}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td>{{run.date}}</td>
                                            <td>{{run.notes}}</td>
                                            <td>{{run.assessor}}</td>
                                            <td>
                                                {% for part in all_scores.items %}
                                                    {% if part.0 == run.id %}
                                                        {% for field in part.1%}
                                                            <b>{{field.experiment_section_field.field_name}}:</b> {{field.score}}<br>
                                                        {% endfor %}
                                                    {% endif %}
                                                {%endfor%}
                                            </td>    
                    
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{% url 'experiment_section_run_detail' experiment_section_run_id=run.id %}"  class="noBottomMargin btn btn-outline-primary mb-1" role="button">Open</a>
                                                    <a href="{% url 'update_experiment_section_run' experiment_section_run_id=run.id %}"  class="noBottomMargin btn btn-outline-primary mb-1" role="button">Update</a>
                                                    <a href="{% url 'delete_experiment_section_run' experiment_section_run_id=run.id %}"  class="noBottomMargin btn btn-outline-danger mb-1" role="button">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    <div class="card-footer">
                        <form method="get" id="chooseExperimentSection" action="{% url 'choose_experiment_section' %}" accept-charset="utf-8" class="noBottomMargin">
                        <input id="chooseExperimentSectionField" name="chooseExperimentSectionField" value = "{{experiment.experiment_name}}|{{experiment_section.experiment_section_name}}" type="hidden">
                        <div class="input-group">
                            <select id="chooseParticipantField" name="chooseParticipantField" class="form-control">
                                <option value="adult">New Adult Run</option>
                                <option value="child">New Child Run</option>
                            </select>
                            <div class="input-group-append">
                                <input type="submit" id="chooseexperiment_sectionButton" class="btn btn-outline-primary" value="Add">
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>


















        </div>
    {% else %}
        <div>
            <h2>You are not authorized to access this experiment. Please contact the {{experiment.lab}} lab for access.</h2>
        </div>
    {% endif %}
{% endblock %}