{% extends "ParticipantDB/nav.html" %}
{% load static %}
{% block extraHead %}
    {{ experiment_section_run_form.media.css }}
    {{ experiment_section_run_field_score_formset.media.css }}
    {{ field_score_pairs.media.css }}
    <script src="{% static 'ParticipantDB/js/run_validation.js' %}"></script>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>New Run of Section '{{experiment_section_name}}' of Experiment '{{experiment_name}}' ({{participant_type|title}})</h1>
    <form method="post">
        {% csrf_token %}
        {% if experiment_section_run_form.non_field_errors %}
            {% for err in experiment_section_run_form.non_field_errors %}
                {{err}}
            {% endfor %}
        {% endif%}
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Basic Info
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                {% if participant_type == "adult" %}
                                    {{experiment_section_run_form.participantAdult|as_crispy_field}}
                                {% elif participant_type == "child"  %}
                                    {{experiment_section_run_form.participantChild|as_crispy_field}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {{experiment_section_run_form.date|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {{experiment_section_run_form.assessor|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {{experiment_section_run_form.notes|as_crispy_field}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Results
                    </div>
                    <div>
                        {{ experiment_section_run_field_score_formset.management_form|crispy }}
                        <div class="table-responsive">
                            <table class="table table-hover" id="result_table_exp">
                                <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Type</th>
                                        <th>Score</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    {% for field, score in field_score_pairs %}
                                        <tr>            
                                            <td>{{field.field_name}}</td>
                                            <td class="type">{{field.type}}</td>
                                            <td>{{score.score|as_crispy_field}}</td>
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <input type="submit" class="btn btn-outline-primary" name="save" value="Save">
            <input type="submit" class="btn btn-outline-primary" name="save_add_another" value="Save & Add Another">
        </div>
    </form>
    {{ experiment_section_run_form.media.js }}
    {{ experiment_section_run_field_score_formset.media.js }}
    {{ field_score_pairs.media.js }}
{% endblock %}