{% extends "ParticipantDB/nav.html" %}
{% block extraHead %}
    {% load static %}
    {{ adultFilter.media.css }}
    <script src="{% static 'ParticipantDB/js/adult_query.js' %}"></script>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    
    {% comment %} <div class="row"> {% endcomment %}
    
        <div class="col-md-12">
            <ul class="nav nav-pills mb-4 justify-content-center">
                <li class="nav-item"><a class="nav-link active" href="#">Adult Query</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Child Query</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Family Query</a></li>
            </ul>
            <div class="card mb-4">
                
                <div class="card-body">
                    <form method="get">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Personal Info</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                {{ adultFilter.form.given_name|as_crispy_field }}
                            </div>
                            <div class="col-md-4 form-group">
                                {{ adultFilter.form.preferred_name|as_crispy_field }}
                            </div>
                            <div class="col-md-4 form-group">
                                {{ adultFilter.form.surname|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                {{adultFilter.form.gender.label_tag}}
                                {{ adultFilter.form.gender|as_crispy_field}}
                                
                                {% comment %} {% for choice in adultFilter.form.gender %}
                                
                                <label class="checkbox-inline">
                                    {{ choice.tag }} {{ choice.choice_label }}
                                </label>
                                {% endfor %} {% endcomment %}
              
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outline-primary">Query</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% comment %} </div> {% endcomment %}
    <ul>
        {% for adult in adultFilter.qs %}
            <li><a href="{% url 'adult_detail' adult_id=adult.id %}"> {{adult}}</a></li>
        {% endfor %}
    </ul>

  
    {{ adultFilter.media.js }}  
{% endblock %}