{% extends "ParticipantDB/nav.html" %}
{% load static %}
{% block extraHead %}
    {{ adult_form.media.css }}
    {{ speaks_formset.media.css }}
    {{ musical_experience_formset.media.css}}
    <script src="{% static 'ParticipantDB/js/adult.js' %}"></script>
    <script src="{% static 'ParticipantDB/js/date_warning.js' %}"></script>
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <h1>Update Adult # {{adult_id}}</h1>
    <div class="row">
        <div class="col-md-12">
            <h2>Basic Details</h2>
        </div>
    </div>
    
    <form action="{% url 'update_adult' adult_id %}" method="post" class="noBottomMargin">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        Personal Info
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ adult_form.id|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{ adult_form.sfu_id|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ adult_form.given_name|as_crispy_field}}
                            </div>
                            <div class="col-md-4">
                                {{ adult_form.preferred_name|as_crispy_field}}
                            </div>
                            <div class="col-md-4">
                                {{ adult_form.surname|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                {{ adult_form.birth_date|as_crispy_field}}
                            </div>
                            <div class="col-md-3">
                                {{ adult_form.gender|as_crispy_field}}
                                
                                <datalist id="auto-genders">
                                    <option value="male">
                                    <option value="female">
                                </datalist>
                            </div>
                            <div class="col-md-3">
                                {{ adult_form.years_of_education|as_crispy_field}}
                            </div>
                            <div class="col-md-3">
                                {{ adult_form.address|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                {{ adult_form.email|as_crispy_field}}
                            </div>
                            <div class="col-md-3">
                                {{ adult_form.phone|as_crispy_field}}
                            </div>
                            <div class="col-md-3">
                                {{ adult_form.contact_pref|as_crispy_field}}
                            </div>
                            <div class="col-md-3">
                                {{ adult_form.pref_phone_time|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ adult_form.personal_notes|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{ adult_form.health_notes|as_crispy_field}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Languages Spoken
                    </div>
                    {{ speaks_formset.management_form|crispy }}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="noTopBorder centeredCell">
                                    <th>Language*</th>
                                    <th>Dominance*</th>
                                    <th>Starting Age*</th>
                                    <th>Ending Age</th>
                                    <th>Native*</th>
                                    <th>Delete?</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for speaks in speaks_formset %}
                                    {{speaks.id}}
                                    <tr>            
                                        <td>{{speaks.lang|as_crispy_field}}</td>  
                                        <td>{{speaks.proficiency|as_crispy_field}}</td>  
                                        <td>{{speaks.age_learning_started|as_crispy_field}}</td>  
                                        <td>{{speaks.age_learning_ended|as_crispy_field}}</td>  
                                        <td>{{speaks.is_native|as_crispy_field}}</td> 
                                        <td class="centered-checkbox-child">{{speaks.DELETE}}</td> 
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Musical Experience
                    </div>
                    <div>
                        {{ musical_experience_formset.management_form|crispy }}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="noTopBorder centeredCell">
                                        <th>Experience*</th>
                                        <th>Dominance*</th>
                                        <th>Starting Age*</th>
                                        <th>Ending Age</th>
                                        <th>Delete?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for musical_experience in musical_experience_formset %}
                                        {{musical_experience.id}}
                                        <tr>            
                                            <td>{{musical_experience.experience|as_crispy_field}}</td>
                                            <td>{{musical_experience.proficiency|as_crispy_field}}</td>  
                                            <td>{{musical_experience.age_learning_started|as_crispy_field}}</td>  
                                            <td>{{musical_experience.age_learning_ended|as_crispy_field}}</td>  
                                            <td class="centered-checkbox-child">{{musical_experience.DELETE}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-outline-primary" name="save" value="Save">
    </form>
    
    {{ adult_form.media.js }}
    {{ speaks_formset.media.js }}
    {{ musical_experience_formset.media.js}}
{% endblock %}