{% extends "ParticipantDB/nav.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>
                Adult # {{ adult.id }}
            </h1>
        </div>
        <div class="col-md-4">
            <div class="btn-group float-right"> 
                <a href="{% url 'delete_adult' adult_id=adult.id %}" class="btn btn-outline-danger" role="button">Delete</a>
                <a href="{% url 'update_adult' adult_id=adult.id %}" class="btn btn-outline-primary" role="button">Update</a>
                {% comment %} <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#sensitive" aria-expanded="false" aria-controls="personalTable">
                    Show Sensitive
            </button> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Basic Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    Personal Info
                </div>
                <div>
                    {% comment %} <h2>Personal Info</h2>         {% endcomment %}
                    <div id="personalTable" class="table-responsive">
                        <table class="table table-hover">
                            <tr class="noTopBorder">
                                <th>Given Name:</td>
                                <td>{{adult.given_name}}</td>
                            </tr> 
                            {% if adult.preferred_name %}
                            <tr>
                                    <th>Preferred Name:</td>
                                    <td>{{adult.preferred_name}}</td>
                            </tr>    
                            {% endif %}
                            <tr>
                                    <th>Surname:</td>
                                    <td>{{adult.surname}}</td>
                            </tr> 
                            <tr>
                                    <th>Birth Date:</td>
                                    <td>{{adult.birth_date}}</td>
                            </tr> 
                            <tr>
                                    <th>Gender:</td>
                                    <td>{{adult.gender}}</td>
                            </tr> 
                            {% if adult.sfu_id %}
                            <tr>
                                    <th>SFU ID:</td>
                                    <td>{{adult.sfu_id}}</td>
                            </tr>    
                            {% endif %}
                            <tr>
                                    <th>Address:</td>
                                    <td>{{adult.address}}</td>
                            </tr>
                            <tr>
                                    <th>Years of Education:</td>
                                    <td>{{adult.years_of_education}}</td>
                            </tr>
                            <tr>
                                    <th>Phone:</td>
                                    <td>{{adult.phone}}</td>
                            </tr>
                            <tr>
                                    <th>Email:</td>
                                    <td>{{adult.email}}</td>
                            </tr>
                            <tr>
                                    <th>Contact Preference:</td>
                                    <td>{{adult.get_contact_pref_display}}</td>
                            </tr>    
                            <tr>
                                    <th>Preferred Phone Time:</td>
                                    <td>{{adult.get_pref_phone_time_display}}</td>
                            </tr> 
                            {% if adult.health_notes %}
                            <tr>
                                    <th>Health Notes:</td>
                                    <td>{{adult.health_notes}}</td>
                            </tr>
                            {% endif %}
                            {% if adult.personal_notes %}
                            <tr>
                                    <th>Personal Notes:</td>
                                    <td>{{adult.personal_notes}}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            {% if speaksLanguages.count > 0 %}
                <div class="card mb-4">
                    <div class="card-header">
                        Languages
                    </div>
                    <div>
                            {% comment %} <h2>Languages Spoken</h2> {% endcomment %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr  class="noTopBorder centeredCell">
                                        <th>Language</th>
                                        <th>Native</th>
                                        <th>Dominance</th>
                                        <th>Starting Age</th>
                                        <th>Ending Age</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for speaksLanguage in speaksLanguages %}
                                        <tr class="centeredCell">
                                            <td>{{speaksLanguage.lang}}</td>
                                            <td>{{speaksLanguage.is_native}}</td>
                                            <td>{{speaksLanguage.nth_most_dominant}}</td>
                                            <td>{{speaksLanguage.age_learning_started}}</td>
                                            <td>{{speaksLanguage.age_learning_ended}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if musical_exps.count > 0 %}
                <div class="card mb-4">
                    <div class="card-header">
                        Musical Experiences
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr  class="noTopBorder centeredCell">
                                    <th>Musical Experience</th>
                                    <th>Dominance</th>
                                    <th>Starting Age</th>
                                    <th>Ending Age</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for musical_exp in musical_exps %}
                                    <tr class="centeredCell">
                                        <td>{{musical_exp.experience}}</td>
                                        <td>{{musical_exp.nth_most_dominant}}</td>
                                        <td>{{musical_exp.age_learning_started}}</td>
                                        <td>{{musical_exp.age_learning_ended}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            

            {% if family %}
                <div class="card mb-4">
                    <div class="card-header">
                        Family
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                {% if parents.count > 1 %}
                                    <tr>
                                        <th>Spouse:</th>
                                        <td>
                                            {% for parent in parents %}
                                                {% if parent.parent.id != adult.id %}
                                                    <a href="{% url 'adult_detail' adult_id=parent.parent.id %}" class="btn btn-outline-primary" role="button">  
                                                        {{parent.parent.given_name}} {{parent.parent.surname}} ({{parent.parent.id}})
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if children.count > 0 %}
                                    <tr>
                                        <th>
                                            {% if children.count > 1%}
                                                Children:
                                            {% else %}
                                                Child:
                                            {% endif %}
                                        </th>
                                        <td>
                                            {% for child in children %}
                                                <a href="{% url 'child_detail' child_id=child.child.id %}" class="btn btn-outline-primary mb-1" role="button">  
                                                    {{child.child.given_name}} {{child.child.surname}} ({{child.child.id}})
                                                </a>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <a href="{% url 'family_detail' family_id=family.id %}" class="btn btn-outline-primary" role="button">View Family ({{family.id}})</a>
                            <a href="{% url 'update_family' family_id=family.id %}" class="btn btn-outline-primary" role="button">Update Family ({{family.id}})</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Participation</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header">
                    Assessments
                </div>
                {% if assessment_participations|length > 0 %}
                    <div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="noTopBorder centeredCell">
                                        <th>Assessment</th>
                                        <th>Lab</th>
                                        <th>Assessor</th>
                                        <th>Date</th>
                                        <th>Notes</th>
                                        <th>Results</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for participation in assessment_participations %}
                                        <tr class="centeredCell">
                                            <td>{{participation.assessment}}</td>
                                            <td>{{participation.assessment.lab}}</td>
                                            <td>{{participation.assessor}}</td>
                                            <td>{{participation.date}}</td>
                                            <td>{{participation.notes}}</td>                          
                                            <td>
                                                {% for part in all_scores.items %}
                                                    {% if part.0 == participation.id %}
                                                        {% for field in part.1%}
                                                            <b>{{field.assessment_field.field_name}}:</b> {{field.score}}<br>
                                                        {% endfor %}
                                                    {% endif %}
                                                {%endfor%}
                                            </td>   
                                            <td><a href="{% url 'delete_assessment_run' assessment_run_id=participation.id %}"  class="btn btn-outline-danger" role="button">Delete</a></td>    
                                            <td><a href="{% url 'update_assessment_run' assessment_run_id=participation.id %}"  class="btn btn-outline-primary" role="button">Update</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="card-body">
                        No Previous Assessments
                    </div>
                {% endif %}
                <div class="card-footer">
                    <form method="get" id="assessment_run" action="{% url 'choose_assessment' %}" accept-charset="utf-8" class="noBottomMargin">
                        <input id="chooseParticipantField" name="chooseParticipantField" value="adult" type="hidden">
                        <input id="participantID" name="participantID" type="hidden" value="{{adult.id}}">
                        <div class="input-group">
                            <select id="chooseAssessmentField" name="chooseAssessmentField" class="form-control">
                                {% for assessment in eligible_assessments %}
                                    <option value="{{assessment.assessment_name}}">{{assessment.assessment_name}}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-append">
                                <input type="submit" id="chooseAssessmentButton" class="btn btn-outline-primary" value="Add">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header">
                    Experiment Sections
                </div>
                {% if experiment_section_participations|length > 0 %}
                    <div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="noTopBorder centeredCell">
                                        <th>Experiment</th>
                                        <th>Section</th>
                                        <th>Lab</th>
                                        <th>Assessor</th>
                                        <th>Date</th>
                                        <th>Notes</th>
                                        <th>Results</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for participation in experiment_section_participations %}
                                        <tr class="centeredCell">
                                            <td>{{participation.experiment_section.experiment}}</td>
                                            <td>{{participation.experiment_section}}</td>
                                            <td>{{participation.experiment_section.experiment.lab}}</td>
                                            <td>{{participation.assessor}}</td>
                                            <td>{{participation.date}}</td>
                                            <td>{{participation.notes}}</td>                          
                                            <td>
                                                {% for part in all_experiment_scores.items %}
                                                    {% if part.0 == participation.id %}
                                                        {% for field in part.1%}
                                                            <b>{{field.experiment_section_field.field_name}}</b>: {{field.score}}<br>
                                                        {% endfor %}
                                                    {% endif %}
                                                {%endfor%}
                                            </td>   
                                            <td><a href="{% url 'delete_experiment_section_run' experiment_section_run_id=participation.id %}"  class="btn btn-outline-danger" role="button">Delete</a></td>    
                                            <td><a href="{% url 'update_experiment_section_run' experiment_section_run_id=participation.id %}"  class="btn btn-outline-primary" role="button">Update</a></td>  
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
				{% else %}
					<div class="card-body">
						No Previous Experiment Sections
					</div>
				{% endif %}
                <div class="card-footer">
                    <form method="get" id="chooseExperimentSection" action="{% url 'choose_experiment_section' %}" accept-charset="utf-8" class="noBottomMargin">
                        <input id="chooseParticipantField" name="chooseParticipantField" value="adult" type="hidden">
                        <input id="participantID" name="participantID" type="hidden" value="{{adult.id}}">
                        <div class="input-group">
                            <select id="chooseExperimentSectionField" name="chooseExperimentSectionField" class="form-control">
                                {% for experiment_section in eligible_experiment_sections %}
                                    <option value="{{experiment_section.experiment.experiment_name}}~{{experiment_section.experiment_section_name}}">{{experiment_section.experiment.experiment_name}}: {{experiment_section.experiment_section_name}}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-append">
                                <input type="submit" id="chooseExperimentSectionButton" class="btn btn-outline-primary" value="Add">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}