{% extends "ParticipantDB/nav.html" %}
{% block extraHead %}
    {% load static %}
    {{ assessmentRunFilter.form.media.css }}
    <script src="{% static 'ParticipantDB/js/query.js' %}"></script>
    <script src="{% static 'ParticipantDB/js/date_warning.js' %}"></script>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs mb-4">
                <li class="nav-item"><a class="nav-link active" href="{% url 'adult_query' %}">Adult</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'child_query' %}">Child</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'family_query' %}">Family</a></li>
            </ul>
        </div>
    </div>
    <h1>
        Assessment Run Query
    </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12 mb-0">
                            Query
                            <div class="btn-group float-right"> 
                                <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target=".query-form" aria-controls="personalTable">
                                Expand/Collapse
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body query-form collapse show"> 
                    <form method="get" action="">
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <h4>Assessment Participation</h4>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        {{assessmentRunFilter.form.assessment|as_crispy_field}}
                                    </div>
                                    <div class="col-md-6">
                                        {{assessmentRunFilter.form.assessment_run_assessor|as_crispy_field}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 removeDash">
                                        {% comment %} {{assessmentRunFilter.form.assessment_run_date|as_crispy_field}} {% endcomment %}
                                    </div>
                                    <div class="col-md-6">
                                        {% comment %} {{assessmentRunFilter.form.assessment_run_notes|as_crispy_field}} {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outline-dark">Query</button>
                                <a href="{% url 'adult_query' %}" class="btn btn-outline-dark" role="button">Clear</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% comment %} </div> {% endcomment %}

  
    {{ assessmentRunFilter.form.media.js }}  
{% endblock %}